<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thundax.bacon.sys.mapper.DeptMapper">
	<select id="getDeptVoById" resultType="com.github.thundax.bacon.sys.api.vo.DeptVO">
		SELECT dept_id, name, parent_id
		FROM sys_dept
		WHERE dept_id = #{deptId}
		  AND del_flag = '0'
	</select>
</mapper>
